<div class="container-fluid mt-5">
  <div class="row">
    <div class="parent">
      <div class="child bg-one">
        <a>MY CAR APP</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="pl-3"> New entries</h1>
  </div>
  <div class="row align-items-center">
    <app-car-card *ngFor="let Car of Cars" [Car]="Car" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"></app-car-card>
  </div>
</div>