<div class="mycard card" style="width: 18rem;">
    <img class="card-img-top" style="height:190px;width:286px;" src="{{ Car.ImageUrl }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ Car.brand }}, {{ Car.model }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Engine: {{ Car.enginestats }}, {{ Car.engine}}</li>
      <li class="list-group-item">Gearbox: {{ Car.gearbox }}</li>
      <li class="list-group-item">Horsepower: {{ Car.horsepower }}</li>
      <li class="list-group-item">Year: {{ Car.year }}</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-primary" routerLink="/Showcar/{{ Car.id }}">Details</button>
    </div>
</div>
